{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="page-container">
    <div class="page-header">
        <h1>About MANI</h1>
        <p>Medical Research Assistant powered by Generative AI.</p>
    </div>
    <div class="about-card">
        <h2>What is MANI?</h2>
        <p>
            MANI is an AI-powered healthcare assistant designed to help users understand medicalinformation, research, reports and other health-related content in a simpler way.
        </p>
        <h2>Technologies</h2>
        <p>Flask • LangGraph • Groq • PubMed • Python</p>
        <h2>Important Disclaimer</h2>
        <p>MANI is an educational and research assistance tool. Its responses are AI-generated and should not be considered a medical diagnosis or a substitute for professional medical advice.</p>
    </div>
</div>
{% endblock %}